html, body {
    height: 100%;
}

body > section {
    height: 100%;
    background-color: #fff;
    width: 100%;
}

.main.container {
    padding-top: 50px;
    height:100%;
}

.hidden {
    display: none !important;
}

.message.f-message {
    position: fixed;
    bottom: 10px;
    margin: 5%;
    width: 90%;
}

.call-bar {
    border: solid 1px #383838;
    padding: 10px;
}
.call-bar__number {
    display: block;
    font-size: 50px;
    line-height: 1;
    border: solid 1px #383838;
    padding: 10px;
    border-radius: 5px;
    color: #6b6b6b;
    min-height: 72px;
    position:relative;
    overflow:hidden;
}

.call-bar__number-clear {
    top: 8px;
    right: 0;
    position: absolute;
    background: #fff;
}

.call-bar__pad {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}
.call-bar__pad-item {
    line-height: 1;
    width: 30%;
    border: solid 1px #bbb;
    text-align: center;
    padding: 20px;
    margin: 10px 0;
    font-weight: bold;
    background-color: #ccc;
    color: #efefef;
    text-shadow: 1px 1px #555;
    font-size: 2.3em;
}
.call-bar__pad-item--clear {

    background-color: #ff872e;
    border: solid 1px #bf570a;
}
.call-bar__pad-item--call {

    background-color: #7aa61a;
    border: solid 1px #4c6f00;
}

.call-bar__pad-item:active {
    color: red;
}